<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="publishPath" value="C:\inetpub\Downloads\"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
		</compilation>
		<authentication mode="Windows"/>
		<httpRuntime maxRequestLength="5120"/>
	</system.web>
</configuration>
